/* src/components/Footer.css */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  text-align: center; /* Center align content */
}

.footer-links {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center; /* Center align icons */
}

.subscription {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center; /* Center align subscription box */
  margin-bottom: 20px; /* Margin to fit the page */
}

.subscription-input {
  flex: 1;
}

.subscribe-button {
  height: 40px;
}

.footer-note {
  margin-top: 20px;
  text-align: center;
}
