.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background: #f0f0f0;
    padding: 20px;
}

.main-content {
    flex: 1;
    padding: 20px;
    
    background: #e9ecef;
}
.dashboard {
    display: flex;
}


.dashboard-logo {
    width: 50px; /* Adjust the size as needed */
    height: auto;
}

.im1 {
    position: absolute;
    top: 20px;
    left: 20px;
    width:220px;
    height: 100px;
}

.im2 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width:200px;
   
}
