.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  cursor: pointer;
  padding: 10px 0;
  padding-left: 20px;
}

.sidebar ul li:hover {
  background-color: #d3d3d3;
}

.sidebar {
  height: 100%;
  background-color: #f4f4f4;
  padding: 20px;
}

.sidebar h2 {
  margin: auto;
}

.nav-link {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
  border-radius: 5px;
}

.active-link {
  background-color: #d3d3d3;
}
